# Environment variables and secrets
.env
*.env
.env.*

# User settings and data
settings_*.json

# Dependencies
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store 